.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #4D6EB3;
    padding: 8px 80px;
    
}
.header h4{
    color: white;
    font-size: 20px;
    padding-right: 15px;
}
.header button{
    border: none;
    background: white;
    color: #4D6EB3;
    padding: 8px 20px;
    border-radius: 2px;
    font-weight: 700;
    font-size: 16px;
}
